* {
    box-sizing: border-box;
}
body {
    padding-top: 70px;
}
main {
    padding-bottom: 30px;
}
.carousel-item img{
    margin: 0 auto;
}
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product {
    margin: 10px 0;
}
.btn {
    margin: 2px 0;
}
.pagination {
    margin: auto 0;
}
.pagination a {
    margin: 1px;
    padding: 5px 10px;
    background-color: grey;
    color: white;
}
.pagination a.active {
    color: black;
}